@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Aluno por ID";
}

@model teste_api.Models.Entites.Aluno

<h1>Visualização Aluno por Id</h1>

@if (Model is null)
{
    <p>Estudante não encontrado para este ID</p>
}
else {
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Matérias</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Nome</td>
            <td>
                @foreach (var materia in Model.Materia)
                    {
                        <li>@materia.Nome</li>
                    }
            </td>
            <td>@Model.Email</td>
            <td>@Model.Telefone</td>
            <td>
                <a class="btn btn-primary" asp-controller="Alunos" asp-action="EditarAluno" asp-route-id="@Model.Id">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
}