@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Todos as Materias";
}

@model List<teste_api.Models.Entites.Materia>

<h1>Todos as Matérias</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Período</th>
            <th>Professor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var materia in Model)
        {
            <tr>
                <td>@materia.Id</td>
                <td><a asp-action="GetById" asp-route-id="@materia.Id">@materia.Nome</a></td>
                <td>@materia.Periodo</td>
                <td>@materia.Tutor</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Materias" asp-action="EditarMateria" asp-route-id="@materia.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-controller="Materias" asp-action="MateriaCreate">Nova Matéria</a>